# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.src/firebase-instances.js
.firebase/
.firebase/hosting.cHVibGlj.cache
src/firebase-instances.js
.firebase/hosting.cHVibGlj.cache
src/firebase-instances.js
to do
functions/client_secret.json

functions/.env.development
functions/.env.production
Otros/Resumen Junio 2025.html
