/* src/styles/cards.css */

.card {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  transition: var(--transition);
}

.card-title {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1.5rem;
    border-radius: var(--border-radius);
    margin-top: -2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title-primary {
    background-color: var(--color-primary-pastel);
    color: var(--color-primary-dark);
}

.card-title-success {
    background-color: var(--color-success-pastel);
    color: var(--color-success);
}
