/* src/index.css */

/* Definiendo variables CSS para colores, fuentes y otros valores reutilizables */
:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;

  --color-primary: #007bff;
  --color-primary-dark: #0056b3;
  --color-primary-pastel: rgba(0, 123, 255, 0.1);
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-success-pastel: rgba(40, 167, 69, 0.1);
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-text: #212529;
  --color-background: #ffffff;
  --color-border: #dee2e6;

  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  --transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: var(--font-secondary);
  background-color: var(--color-light);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--color-dark);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.btn-link {
    background-color: transparent;
    border: none;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: none;
    padding: 0 0.5rem;
    font-size: 0.9rem;
}

.btn-link:hover {
    color: var(--color-primary-dark);
    text-decoration: underline;
}
